.nav{
display: inline-block;
vertical-align: top;
width: 100%;
padding: 1%;
background-color: lightpink;
}
.logo{
width: 5%; 
padding: 1%;   
text-align: center;
}
.ul{
width: 50%;    
margin-left: auto;
}
.heroImg{
height: 600px;
padding: 25px;    
}
.content{
width: 500px;    
margin: auto;
}
.footer{
background-color: lightpink;    
padding: 70px;
width: 100%;
}
.footerul{
display: inline-block;
vertical-align: top;
width: 100%;
}